/*--------------------------------------------------------------------- Nimi: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Petit+Formal+Script&family=Satisfy&family=Sofia&display=swap');

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 20px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: "Oregano", cursive;
    line-height: 2.5;
    font-weight: normal;
    overflow-x: hidden;
}

.oregano-regular {
    font-family: "Oregano", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
a {
    color: #000000;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
    
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #000000;
    text-decoration: none!important;
    opacity: 1
    
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 25px;
    line-height: 24px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header sektio alkaa */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header_bg {
    width: 100%;
    float: left;
    background-image: url(../images/header-bg.jpg);
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header_bg .navbar-expand-lg .navbar-nav .nav-link {
    color: #ff8a80;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 20px;
    color: #ff8a80;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000000;
}

.navbar-brand {
    width: 193px;
    height: 90px;
    margin: 0px;
    float: right;
}

.navbar {
    padding: 15px 50px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #d98473;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #4c4c4c;
}


/* header sektio loppuu */


/* banner sektio */

.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px 100px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}

/*Emma Espresso teksti etusivulla*/

.banner_taital {
    width: 100%;
    font-size: 110px;
    color: #252525;
    font-weight: 800;
    font-family: "Oregano", cursive;
    line-height: 100px;
}

/*Aidon kahvin maku teksti*/

.tasty_text {
    width: 100%;
    float: left;
    font-size: 34px;
    color: #ff8a80;
    font-weight: bold;
    font-family: "Oregano", cursive;
    line-height: 60px;
}

/*"Olemme keravan..." teksti*/

.banner_text {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #4a4949;
    margin: 0px;
    font-family: "Oregano", cursive;
    line-height: 25px;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
    font-family: "Oregano", cursive;
}

.about_bt {
    width: 175px;
    float: left;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 22px;
    background-color: #ff8a80;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

/*Tarinamme nappula etusivulla*/

.about_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

/*Yhteystiedot nappula etusivulla*/

.callnow_bt {
    width: 175px;
    float: left;
}

.callnow_bt a {
    width: 100%;
    float: left;
    font-size: 22px;
    background-color: #4a4949;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.callnow_bt.active a {
    color: #fefefd;
    background-color: #4a4949;
}

#banner_slider a.carousel-control-prev {
    left: -120px;
    top: 455px;
}

#banner_slider a.carousel-control-next {
    right: 0px;
    top: 400px;
    left: -120px;
    color: #fefefd;
    background-color: #4a4949;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
}

#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover,
#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.banner_img {
    width: 200%;
    float: left;
    text-align: left;
    position: relative;
    right: 0px;
    left: 55px;
    top: 90px;
}


/* banner sektio loppuu */


/* tuotteet sektio */

.coffee_section {
    width: 100%;
    float: left;
}

.coffee_taital {
    width: 100%;
    float: left;
    font-size: 65px;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.coffee_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}

.bulit_icon_ilmoitus {
    margin: 0 auto;
}

.bulit_tuotteet {
    padding-bottom: 6%;
}

.coffee_img img {
    width: 100%;
    float: left;
}

.types_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0e0d0d;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #111010;
    text-align: center;
    padding-bottom: 2%;
}

.tuotteet_text {
    font-size: 23px;
    padding-top: 1px;
    line-height: 25px;
    color: #000000;
}

.tarinatext {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #000000;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 10%;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d78373;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d78373;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 95px;
    color: #fefefd;
    background-color: #4a4949;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}



/* tuotteet sektio loppuu */


/* tarinamme sektio */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 65px;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_taital_box {
    width: 500px;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 40px 20px 30px 20px;
    box-shadow: 0px 0px 30px 0px;
    position: absolute;
    top: 1550px;
}

.image_iman {
    padding-left: 0px;
    position: relative;
}

.about_img {
    width: 40%;
    position: relative;
    left: 30%;
}   

.kahvila_img {
    width: 100%;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 45px;
    color: #000000;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #000000;
    margin: 0px;
}

.tarinamme_img {
    width: 400px;
    height: 250px;
    padding-right: 20px;
    padding-left: 0px;
    
}

.tarinamme_text {
    font-family: "Oregano", cursive;
    font-size: 50px;
  
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ff8a80;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fc947f;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #4a4949;
    border: 1px solid #201f1f;
}


/* tarinamme sektio loppuu */

/* tapahtumakalenteri alku */

.tapahtumakalenteri {
    width: 100%;
}

.tapahtumat {
    display: flex;

}

.tapahtuma_image {
    width: 400px;
    height: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.tapahtuma_teksti {
    padding: 10px;
    font-size: 12px;
    float: left;
    margin-left: left;
    display: table-cell;
    padding-right: 20 px;
    position: relative;
    color:#000000
}

.tapahtumaotsikko {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.tapahtumatext {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #000000;
    margin: 0px;
    position: relative;
    padding-left: 500px;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* tapahtumakalenteri loppu */

/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
}

.blog_img {
    width: 100%;
}

.date_text {
    width: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: 5px;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #080808;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #000000;
    margin: 0px;
    padding: 0px 20px;
}


/* blog section end */


/* yhteistiedot sektio */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 45px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: "Oregano", cursive;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: "Oregano", cursive;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #d07d6b;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Oregano", cursive;
}

.send_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


/* yhteistiedot sektio loppuu */


/* footer sektio */

.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-image: url(../images/footer-bg1.jpg);
    background-size: 100% 100%;
    padding: 90px 0px 0px 0px;
    position: relative;
    top: 150px;
    font-family: "Oregano", cursive;
    line-height: 20px;
   
}

.kartta {
    
}

.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 45px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 40px;
    line-height: 10px;
}

.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    color: #fefefd;
    text-align: center;
    line-height: 10px;

}

.location_text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    line-height: 25px;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 20px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
    line-height: 10px;
}

.location_text li a {
    color: #ffffff;
}

.location_text li a:hover {
    color: #d07d6b;
}

.padding_left_10 {
    padding-left: 10px;
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon {
    width: 100%;
    float: right;
    text-align: right;
}

.footer_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_social_icon li {
    float: left;
}

.footer_social_icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
    color: #f75b59;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon li a:hover {
    background-color: #ffffff;
    color: #363636;
}

.update_mail {
    color: #3b3b3b;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: #efefef;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    border: 0px;
}

textarea#comment.update_mail::placeholder {
    color: #3b3b3b;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 0px 14px 0px;
    background-color: #d07d6b;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: #363636;
    background-color: #d07d6b;
}


/* footer sektio loppuu */


.margin_top90 {
    margin-top: 90px;
}

.ilmoitus{
    text-align: center;
    position: relative;
    top: 100px;

}

input{
    text-align: right;
}

.submit{

    
}

#tarjous_text {
    margin-top: 5%;
    text-align: center;
    color:#000000
}